.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #E5E5E5;
  display: flex;
  margin: 0 20rem;

}

.App-link {
  color: #61dafb;
}


